<div class="login-container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="radio-group">
            <label>
                <input type="radio" name="user-type" value="user" formControlName="userType"> User
            </label>
            <label>
                <input type="radio" name="user-type" value="admin" formControlName="userType"> Admin
            </label>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" formControlName="email" />
            <div
                *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="loginForm.controls['email'].errors?.['email']">Please enter a valid email</div>
            </div>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" formControlName="password" />
            <div
                *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
            </div>
        </div>
        <button routerLink='/user-details' type="submit" [disabled]="loginForm.invalid">Login</button>
        <div *ngIf="loggedIn">
            <button routerLink='/user-details'></button>
        </div>
        <br />
        <a routerLink='/contact' routerLinkActive="active">Not a User? Register</a>
    </form>
    <div *ngIf="loginDetails">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ loginDetails.email }}</td>
                    <td>{{ loginDetails.password }}</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>