.login {
    height: 300px;
    width: 400px;
    background-color: #B4C9D7;
    opacity: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.header {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 8%;
    left: 45%;
    height: 50px
}

form {
    margin-top: 100px;
    /* Add some space below the header */
    /* login form styles go here */
}